body {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    background-color: #dedede;
}

h1{
    font-weight: 700;
    font-size: 42px;
}

button {
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1px;
    font-size: 17px;
}

p {
    text-align: center;  
}

img {
    width: 100px;
	height: 100px;
}

#game {
    display: flex;
    margin-left: 150px;
    margin-right: 500px;
}

#attack {
    border-radius: 10px;
    color: white;
    border-radius: 10px;
	background-color:#3f3599;
	cursor:pointer;
	color:#ffffff;
	padding:12px 10px;
    margin: 15px;
    margin-bottom: 0px;
    width: 220px;
    text-transform: uppercase;
}

#defend {
    border-radius: 10px;
    color: white;
    border-radius: 10px;
	background-color:#a52059;
	cursor:pointer;
	color:#ffffff;
	padding:12px 10px;
    margin: 15px;
    width: 220px;
    text-transform: uppercase;
}

#interface {
    margin-bottom: 10px;
}

#interface, #action {
    width: 240px;
    margin-right: 150px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.1);
    background-color: #fff;
}

#right-section {
    display: block;
    margin-left: 5px;      
}

#board-game {
    margin: auto;
}

.board-row {
	display: flex;
}

.board-square {
	width: 50px;
	height: 50px;
	border: 1px solid black;
    background-size: 50px 50px;
}

.header {
    margin-left: 150px;
}
